@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 10%;
}

.description {
    font-family: 'Kanit', sans-serif;
    font-size: 55px;
    color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 40px;
}

#description1 {
    background-image: url("img/JAGUAR1.jpg");
    background-size: cover;
    background-size: contain;
    overflow-y: scroll;
    padding-left: 59px;
    height: 80vh;
}

#logo1 {
    margin-top: 80px;
    margin-left: 120px;
    height: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: -15%;
    height: 200px;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    padding: 0 755px;
    margin-top: 60px;
}

nav ul li a{
    font-family: 'Kanit';
    text-decoration: none;
    font-size: 44px;
    color: white;
    border-radius: 7px;
    transition: 0.3s;
}

nav ul li a:hover {
    font-size: 44px;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px #000;
}

