@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Roboto:wght@500&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Kanit', sans-serif;
}

body {
     background-image: linear-gradient(#00000088, #00000028),url("img/background5.jpg");
     min-height: 100vh;
     background-size: cover;
}

#logo1 {
    height: 10rem;
    margin-bottom: 1rem;
    margin-left: 30rem;
}

nav {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20rem;
}

nav ul a {
   text-decoration: none;
   color: white;
   font-size: 3.5rem;
}

nav ul a::after {
    content: '';
    background-color: lime;
    height: 0.5rem;
    display: block;
    width: 0%;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    flex-direction: column;
}

::selection {
    background-color: lime;
    color: white;
}

.welcome {
    font-size: 6rem;
    color: white;
    margin-right: 100rem;
}

#button1 {
    margin-right: 3rem;
}

#button2 {
    font-size: 2rem;
    margin-right: 150rem;
}

.buttons {
    margin-top: 12rem;
}

button {
    border-radius: 1rem;
    animation: vibrar 1.9s ease-in-out infinite both;
    border-color: lime;
    box-shadow: 2vh 2vh 2vh rgba(0, 0, 0, 0.5);
    cursor: pointer;
    width: 18rem;
}

button a {
    color: black;
    font-size: 4rem;
    text-decoration: none;
}

@keyframes vibrar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale (1);
    }
}

