*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lime;
    min-height: 100vh;
}
@font-face{
    font-family: 'Sparta';
    src: url('GODOFWAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container{
    font-family: 'Sparta';
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 -6%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .Logo a{
    font-size: 30px;
    font-weight: bold;
    color: lime;
    text-decoration: none;
}
nav ul {
    font-family: 'Sparta';
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
padding: 0 10px;
}

nav ul li a{
    font-family: 'Sparta';
    text-decoration: none;
    font-size: 24px;
    color: white;
    border-radius: 7px;
    transition: 0.3s;
}
nav ul li a:hover{
    font-size: 29px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px #000;
}
.galery{
    width: 1500px;
    height: 1150px;
    border: 1px solid gray;
}

.but{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

#galery1{
    background: url("../img/background5.jpg") center center no-repeat;
}
#logo1{
    background: url("../img/jaguargamesyt.jpg");
    width: 180px;
    height: 90px;
    margin-left: 20px;
}
.description{
    font-family: 'Sparta';
    color: white;
    font-size: 80px;
    width: 450px;
    height: 350px;
    margin: 20px;
    padding: 10px 20px;
    background-color: none;
}

.botao2 button.overlay{
    background: white;
    color: black;
    animation: vibrar 0.9s ease-in-out infinite both;
    user-select: none;
    font-size: 30px;
    margin-left: -500px;
    padding-bottom: 18px;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}
.botao2 button.overlay:hover{
    background: rgba(255, 255, 255, 0.704);
    text-decoration: none;
}
.botao1 button.n-overlay {
    display: flex;
    color: white;
    background: none;
    border: 2px solid white;
    user-select: none;
    font-size: 30px;
    margin-left: -200px;
    padding-bottom: 18px;
    padding-top: 9px;
    padding-left:5px ;
    padding-right: 5px;
}

.botao1 button.n-overlay:hover{
    color: black;
    background-color: white;
}

.titulo{
    margin-left: 5rem;
    color: white;
    font-size: 80px;
}
.sub_titulo{
    margin-left: 5rem;
    color: white;
    font-size: 200px;
}
@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}