@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Roboto:wght@500&display=swap');

* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Kanit', sans-serif;
}


body {
    background-image: url(img/jaguargamesstudioswallpaper.jpg);
    background-size: 100vw 100vh;
}

main {
    display: flex;
    color: white;
}

h1 {
    font-size: 9rem;
    margin-top: 4rem;
    text-align: center;
}

img {
    height: 39.8rem;
    width: 75rem;
}

.games-img {
    text-align: center;
    margin-top: 5rem;
}

.snakegameimg {
    margin-left: 3rem;
    margin-right: 3rem;
}

.buttons {
    text-align: center;
    justify-content: space-between;
}

h3 {
    font-size: 6rem;
}

.games-text {
    display: flex;
    justify-content: center;
    margin-right: 6rem;
    margin-top: 10rem;
}

.snaketext {
    margin-left: 47rem;
    margin-right: 47rem;
}

.snakebutton {
    margin-left: 50rem;
    margin-right: 50rem;
}

::selection {
    background-color: lime;
    color: white;
}

main {
    flex-direction: column;
}

button {
    width: 20rem;
    height: 12rem;
    animation: vibrar 1.9s ease-in-out infinite both;
    border-color: lime;
    box-shadow: 2vh 2vh 2vh rgba(0, 0, 0, 0.5);
    color: black;
    cursor: pointer;
    font-size: 5rem;
    margin: 9rem 9rem 9rem 9rem;
}

button a {
    text-decoration: none;
    color: black;
}

@keyframes vibrar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale (1);
    }
}

