@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Roboto:wght@500&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Kanit', sans-serif;
}


body {
    background-image: url(img/jaguargamesstudioswallpaper.jpg);
    background-size: 100vw 100vh;
}

.container {
    max-width: 1300px;
    padding: 0 -8%;
    margin: 0 auto;
}

nav {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 2rem 2rem 2rem 2rem;
    margin-left: 75rem;
}

nav ul a {
   text-decoration: none;
   color: white;
   font-size: 1.8rem;
}

nav ul a::after {
    content: '';
    background-color: lime;
    height: 3px;
    display: block;
    width: 0%;
    transition: 0,3s;
}

nav ul a:hover::after {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    color: white;
}

h3 {
    text-align: center;
    font-size: 2.8rem;
}

::selection {
    background-color: lime;
    color: white;
}

main {
    flex-direction: column;
}

.buttons {
    flex-direction: row;
    margin-top: 2rem;
    margin-right: 64rem;
}

#button1 {
    margin-right: 2rem;
    user-select: none;
}

button {
    width: 15rem;
    height: 7rem;
    border-radius: 0.3rem;
    animation: vibrar 1.9s ease-in-out infinite both;
    border-color: green;
    box-shadow: 2vh 2vh 2vh rgba(0, 0, 0, 0.5);
    color: green;
    cursor: pointer;
}

button a {
    color: green;
    font-size: 1rem;
    text-decoration: none;
}

@keyframes vibrar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale (1);
    }
}

