@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Roboto:wght@500&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Kanit', sans-serif;
}

body {
     background-image: linear-gradient(#00000088, #00000028),url("img/background5.jpg");
     min-height: 100vh;
     background-size: cover;
}

.button-green {
    background-color: lime;
    padding: 15px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
   text-decoration: none;
   color: white;
   font-size: 3.5rem;
}

nav ul a::after {
    content: '';
    background-color: lime;
    height: 0.5rem;
    display: block;
    width: 0%;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}

nav ul li {
    margin-top: 9rem;
    margin-right: 46rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15rem;
    margin-left: 19rem;
}
.text-main {
     width: 50%;
     color: white;
     margin-left: 18rem;
}
.text-main h1 {
    font-size: 15rem;
}
.text-main span {
    font-size: 2rem;
}

.text-main p {
    font-size: 3rem;
}
.text-main .midias-sociais {
    margin-top: 10px;
}
.text-main .midias-sociais a {
    color: white;
    font-size: 5rem;
    text-decoration: none;
    margin-left: 10px;
}

.form-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-main .form{
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.2rem;
}
.form-main h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 400;
}
.form-main .form-input {
    width: 50rem;
    height: 12rem;
}
.form-main .form-input input,
.form-main .form-input textarea{
    width: 100%;
    height: 7rem;
    border: 2px solid #CCC;
    outline: none;
    padding: 10px;
    border-radius: 7px;
    transition: 0.3s;
    font-size: 2rem;
}
.form-main .form-input textarea{
    height: 8rem;
    font-size: 2rem;
}

.form-main .form-input input:focus,
.form-main .form-input textarea:focus  {
    border-color: lime;
    font-size: 3rem;
}

::selection {
    background-color: lime;
    color: white;
}

.logo img {
    margin-left: 35rem;
    margin-top: 5rem;
    height: 10rem;
}